<mat-grid-list cols="{{pageSize}}" gutterSize="10px" fxLayout fxLayout.xs="column"> 
  <mat-grid-tile *ngFor="let char of characters">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <label>{{char.name}}</label>
          <label [hidden]="char.gender == 'F'" class="male float-right">♂</label>
          <label [hidden]="char.gender == 'M'"class="female float-right">♀</label>
        </mat-card-title>
        <mat-card-subtitle>
          <label>Lvl: </label><label><b>{{char.level}}</b></label>
          <img mat-card-md-image class="imgType float-right" [src]="getTypeImage(char.mainType)">
          <img mat-card-md-image class="imgType float-right" [src]="getTypeImage(char.secondaryType)">
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row g-1">
          <div class="col-md-6" fxLayoutAlign="center">
            <img mat-card-md-image class="imgCharacter" [src]="getImage(char.image)">
          </div>
          <div class="col-md-6">
            <span>HP:</span><span class="float-right"><b>{{char.hitPoints}}/{{char.totalHitPoints}}</b></span><br>
            <span>Atk:</span><span class="float-right"><b>{{char.attack}}</b></span><br>
            <span>Def:</span><span class="float-right"><b>{{char.defense}}</b></span><br>
            <span>Sp.Atk:</span><span class="float-right"><b>{{char.specialAttack}}</b></span><br>
            <span>Sp.Def:</span><span class="float-right"><b>{{char.specialDefense}}</b></span><br>
            <span>Speed:</span><span class="float-right"><b>{{char.speed}}</b></span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="this.openDialog(char.id);">DELETE</button>
        <button mat-button [routerLink]="['/character',char.id,'edit']">EDIT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div [hidden]="length > 0" fxLayout fxLayoutAlign="center">
  <h2>Nothing to show</h2>
</div>

<div class="container" fxLayout fxLayout.xs="column">
  <div fxFlex="10%">
    <button class="mat-button-add" mat-flat-button color="primary" [routerLink]="['/character']">NEW CHARACTER</button>
  </div>
  <div fxFlex="90%">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>
  </div>
</div>

