  .example-header-image {
    background-image: url('http://localhost:5000/Images/pokeball.png');
    background-size: cover;
  }

  .imgCharacter {
    width: 87px;
    height: 120px;
  }

  .imgType {
    width: 32px;
    height: 12px;
    margin: 5px 5px 5px 5px;
  }

  mat-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-button-add {
    margin: 10px 10px 10px 10px;
  }

  .float-right {
    float: right !important;
  }

  .male {
    color: mediumblue;
  }

  .female {
    color: mediumvioletred;
  }